@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #ddd;
  background-color: hsl(0, 0%, 12%);
}

h2 {
  font-weight: 500;
  font-size: 5rem;
  letter-spacing: -0.05em;
  line-height: 100%;
  margin: 0;
  width: fit-content;
  background: linear-gradient(90deg, #33eaff 20%, #33ff7e 80%);
  color: transparent;
  background-clip: text;
}

button {
  font-weight: 500;
  cursor: pointer;
}

span {
  transition: 0.15s;
}

.input-container {
  width: 20rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#task-name {
  all: unset;
  font-size: 1.2rem;
  height: 3rem;
  width: calc(100% - 3rem);
  border-radius: 1.5rem;
  padding: 0 1.5rem;
  margin-right: -3rem;
  background-color: #22272b;
  color: inherit;
  border: 2px solid hsla(142, 55%, 55%, 40%);
  transition: 0.15s;
}

#task-name:focus {
  border: 2px solid hsla(142, 55%, 55%, 100%);
  box-shadow: 0 0 5px hsl(142, 55%, 55%);
}

#create-btn {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

#task-list {
  all: unset;
  min-width: 20rem;
}

#task-list li {
  list-style-type: none;
  line-height: 2rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

#task-list li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#task-list li .primary-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#task-list li .primary-row button {
  margin-left: auto;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}

#task-list li .primary-row span {
  font-size: 1.2rem;
  margin-right: 1rem;
}

#task-list li .primary-row input {
  /* all: unset; */
  border: 2px solid #666;
  background-color: #ddd;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.6rem;
  margin-right: 1rem;
}

#task-list li .primary-row input:checked {
  /* all: unset; */
  border: 2px solid #666;
  background-color: #ddd;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.6rem;
  margin-right: 1rem;
}

#task-list li .secondary-row {
  font-size: 1rem;
  color: #aaa;
  padding-left: 2.75rem;
}

#task-list li .secondary-row span:not(:last-of-type)::after {
  content: " ⸱ ";
}

.active {
  color: hsl(142, 50%, 50%);
  text-decoration: line-through;
}

.sidebar {
  position: fixed;
  display: flex;
  z-index: 1;
  margin: 2rem 0;
  height: auto;
  right: -30vw;
  top: 0px;
  bottom: 0px;
  width: 30vw;
  transition: 0.3s;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: hsl(0, 0%, 22%);
  color: hsla(0, 0%, 100%, 86%);
  height: auto;
  width: 30vw;
  margin: 0px 2rem;
  padding: 2rem;
  border-radius: 2rem;
}

.sidebar-content * {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.sidebar-content input,
.sidebar-content textarea {
  all: unset;
  color: hsla(0, 0%, 100%, 86%);
  background-color: hsl(0, 0%, 16%);
  border: 2px solid hsl(0, 0%, 46%);
  transition: 0.15s;
}

.sidebar-content input:focus,
.sidebar-content input:active,
.sidebar-content textarea:focus,
.sidebar-content textarea:active {
  border: 2px solid #2e90fa;
  box-shadow: 0px 0px 0px 3px hsl(211, 95%, 58%, 30%);
}

.sidebar-content input:invalid,
.sidebar-content textarea:invalid {
  border: 2px solid #ee4342;
  box-shadow: 0px 0px 0px 3px hsla(0, 83%, 60%, 30%);
}

.sidebar-content input#task-name-1 {
  height: 3rem;
  width: auto;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}

.sidebar-content textarea {
  height: 8rem;
  resize: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.task-datetime-container {
  display: flex;
  gap: 0.5rem;
  justify-items: flex-end;
  align-items: center;
}

.task-datetime-container span:first-of-type {
  flex: 1;
  width: max-content;
  justify-self: flex-start;
  margin-right: auto;
}

.task-datetime-container input[type="date"] {
  height: 2rem;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}
.task-datetime-container input[type="number"] {
  height: 2rem;
  width: 4rem;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}

.task-priority-container {
  display: flex;
  align-items: center;
}

.task-priority-container span {
  justify-self: flex-start;
  margin-right: auto;
}

.task-priority-container input {
  justify-self: flex-end;
  height: 2rem;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}

.sidebar-button-container {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 1rem;
  margin-top: auto;
  flex: 1;
}

.sidebar-button-container button {
  height: 3rem;
  color: hsla(0, 0%, 100%, 86%);
}

.sidebar-button-container button#cancel-create {
  width: 100%;
  border-radius: 0.5rem;
}

.sidebar-button-container button#save-task {
  width: 100%;
  border-radius: 0.5rem;
}

.dropdown {
  position: relative;
}

#dropdown-btn {
  width: 10rem;
  height: 2rem;
  border: 2px solid hsl(0, 0%, 46%);
  background-color: hsl(0, 0%, 30%);
  border-radius: 0.5rem;
}

.dropdown-container {
  display: none;
  position: absolute;
  padding: 0.25rem 0;
  top: 2rem;
  left: 0px;
  width: 100%;
  background-color: hsl(0, 0%, 30%);
  border-radius: 0.5rem;
}

.dropdown:hover,
.dropdown-container:hover {
  #dropdown-btn {
    border: 2px solid #2e90fa;
    box-shadow: 0px 0px 0px 3px hsl(211, 95%, 58%, 30%);
  }
  .dropdown-container {
    display: flex;
    flex-direction: column;
  }
}

.option {
  margin: 0 0.25rem;
  border-radius: 3px;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  &:hover {
    background-color: hsl(0, 0%, 46%);
    cursor: pointer;
  }
}

.title-medium {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: -0.03em;
}

.button-primary {
  border: none;
  background-color: hsla(142, 55%, 45%, 100%);
  color: hsla(0, 0%, 100%, 86%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s;
}

.button-primary:hover {
  background-color: hsla(142, 55%, 55%, 100%);
}

.button-primary:active {
  background-color: hsla(142, 55%, 30%, 100%);
}

.button-secondary {
  border: none;
  background-color: hsla(4, 91%, 60%, 100%);
  color: hsla(0, 0%, 100%, 86%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s;
}

.button-secondary:hover {
  background-color: hsla(4, 91%, 70%, 100%);
}

.button-secondary:active {
  background-color: hsla(4, 91%, 45%, 100%);
}

.button-tertiary {
  border: 2px solid #aaa;
  background-color: rgba(255, 255, 255, 0.2);
  color: hsla(0, 0%, 100%, 86%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s;
}

.button-tertiary:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.button-tertiary:active {
  background-color: rgba(255, 255, 255, 0.1);
}
